<template>
    <div>
        <template>
            <h4 class="not-margin" :style="{ fontWeight: 'bold', color: '#195BFF', fontSize: '18px' }">
                <i class="fal fa-info-circle" :style="{ width: '30px', fontSize: '18px' }"></i>
                ຂໍ້ມູນ ບົດບາດຂອງຜູ້ໃຊ້ລະບົບ
            </h4>
        </template>

        <div class="field" :style="{marginTop: '25px'}">
            <div class="control">
                <label class="label">
                    ປະເພດເເພ໋ກເເກ໋ດ
                    <span class="text-danger">* {{ errors.first('package_name') }}</span>
                    <span class="text-danger">
                        {{server_errors.package_name}}
                    </span>
                </label>
                <input 
                    class="input" name="package_name" 
                    placeholder="ກະລຸນາປ້ອນກ່ອນ..." 
                    v-model="packageType.package_name" 
                    v-validate="'required'"
                >
            </div>
        </div>
        <div ref="target" id="target" class="center">
            <div class="con-btns">
                <vs-button ref="button" flat @click="ValidateForm()" class="form-btn-loading">ບັນທຶກ ບົດບາດ</vs-button>
            </div>
        </div>
    </div>
</template>
<script>
import { Validator } from 'vee-validate';

const dict = {
  custom: {
    package_name:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
  }
};
Validator.localize('en', dict);


export default {
    data:()=>({
        active: false,
        server_errors: {
            package_name: '',
        },
        packageType: {
            package_name: '',
        }
    }),
     methods:{
        ValidateForm(){
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.SaveData();
                }
            });
        },
        SaveData(){
            const loading = this.BtnLoading();
            this.$axios.post('add-package-types', this.packageType).then(res=>{
                if(res.data.success == true){
                    setTimeout(() => {
                        loading.close();
                        this.$emit('close');
                        this.$emit('success');
                        this.$notification.OpenNotification_AddItem_OnSuccess('top-right', 'dark', 3000);
                    }, 300);
                }
            }).catch(error=>{
                loading.close();
                if(error.response.status == 422){
                    var obj = error.response.data.errors;       // ໃຊ້ການລູບຂໍ້ມູນເພາະວ່າຂໍ້ມູນ errors ທີ່ສົ່ງມາຈາກ Server ນັ້ນເປັນ Array Object
                    for (let [key, value] of Object.entries(obj)) {
                        this.server_errors[key] = value[0];
                    }
                }
            });
        },
        BtnLoading(){
            return this.$vs.loading({
                target: this.$refs.button,
                scale: '0.6',
                background: 'primary',
                opacity: 1,
                color: '#fff'
            });
        }
    }
}
</script>
<style lang="scss" scoped>
    
</style>