<template>
    <div class="container" :style="{marginTop: '40px'}">
        <div class="login-panel">
            <img src="../../assets/logistic.png">
            
            <p class="login-text">
                ຮຸ່ງອາລຸນ ຂົນສົ່ງດວ່ນ
            </p>

            <div class="group-input">
                <p :style="{color: 'crimson'}">
                    {{$store.getters['User/ShowMsgErrors']}}
                </p>
                <div class="field">
                    <div class="control">
                        <label>ອີເມວ</label>
                        <input class="input" placeholder="ກະລຸນາປ້ອນອີເມວ..." v-model="users.email">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label>ລະຫັດຜ່ານ</label>
                        <input type="password" class="input" placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານ..." v-model="users.password">
                    </div>
                </div>
                
                <div class="box-btn">
                    <button class="button" @click="AdminSignIn()">
                        ເຂົ້າສູ່ລະບົບ
                    </button>
                </div>
            </div>
            
            <!-- <div class="login-footer">
                <p>Copyright 2016 Portal Industries</p>  
            </div> -->
        </div>
    </div>
</template>
<script>
import {mapActions} from 'vuex';

export default {
    data:()=>({
        forgot_password: false,
        users:{
            email: '',
            password: '',
        }
    }),
    methods:{
        ...mapActions({
            AdminLogin: 'User/LoginUser'
        }),

        AdminSignIn(){
            const loading = this.$vs.loading();
            this.AdminLogin(this.users).then(()=>{
                setTimeout(() => {
                    loading.close();
                }, 300);
            }).catch(error=>{
                if (error.response.status == 401) {
                    loading.close();
                }else{
                    loading.close();
                }
            })
        },
    }
}
</script>
<style lang="scss" scoped>
.container{
    .title-login{
       font-size: 20px;
       color: $primary-color;
    }

    .login-text {
        text-align: center;
        margin-top: -5px;
        font-size: 20px;
        font-weight: 100;
        color: $crimson;
    }

    .login-panel {
        // background: #f9f9ff;
        width: 400px;
        height: 450px;
        margin: 25px auto;
        position: relative; 
        img{
            width: 110px;
        }
        .group-input{
            padding: 25px;
            margin-top: 30px;
            .input{
                background: #f9f9ff;
                border: 1px solid #aaaaad80;
            }
            .box-btn{
                margin-top: 10px;
                button{
                    width: 100%;
                    margin-top: 20px;
                    background: $crimson;
                    &:hover{
                        color: $white;
                    }
                    &:focus{
                        box-shadow: none;
                        color: $white;
                    }
                }
            }
        }
    }

    .login-title {
        text-align: center;
        padding-top: 25px;
        font-size: 1.2em;
        font-weight: bold;
        span {
            font-weight: 100;
            font-size: .9em;
            color: #605D7F;
        }
    }

    .login-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        background: #f9f9f9;
        padding: 25px 0;
        p {
            text-align: center;
            font-size: .9em;
        }
    }
}
</style>