<template>
    <div class="container">
        <div class="box-title">
            <h4>
                <i class="fal fa-users"></i>
                  ຂໍ້ມູນ ປະເພດເເພ໋ກເເກ໋ດ
                <span class="countTotal">({{package_types.length}})</span>
                <span class="btn-add">
                    <vs-button
                        circle
                        icon
                        flat
                        @click="OpenModalAdd()"
                    >
                    <i class="fal fa-plus-circle"></i>
                    </vs-button>
                </span>
            </h4>
        </div>
        <div class="center">
            <vs-table>
                <template #thead>
                <vs-tr>
                    <vs-th>
                        ລຳດັບ
                    </vs-th>
                    <vs-th>
                        ປະເພດເເພ໋ກເເກ໋ດ
                    </vs-th>
                    <vs-th></vs-th>
                </vs-tr>
                </template>
                <template #tbody>
                <vs-tr
                    :key="index"
                    v-for="(package_type, index) in $vs.getPage(package_types, page, max)"
                    :data="role"
                >
                    <vs-td>
                        {{ index + 1 }}
                    </vs-td>
                    <vs-td>
                        {{ package_type.package_name }}
                    </vs-td>
                    <vs-td style="text-align: right; width: 100px">
                        <div class="group-icon">
                            <vs-button
                                circle
                                icon
                                flat
                                @click="ViewDetailPermissionRoles(package_type.id)"
                            >
                            <i class="fal fa-plus-circle"></i>
                            </vs-button>
                            <vs-button
                                circle
                                icon
                                flat
                                @click="OpenModalEdit(index)"
                            >
                            <i class="fad fa-pencil-alt"></i>
                            </vs-button>
                            <vs-button
                                circle
                                danger
                                icon
                                flat
                                @click="OpenModalDelete(package_type.id)"
                            >
                            <i class="fad fa-trash-alt"></i>
                            </vs-button>
                        </div>
                    </vs-td>
                </vs-tr>
                </template>
                <template #footer>
                    <vs-pagination v-model="page" :length="$vs.getLength(package_types, max)"/>
                    <Loading v-if="isLoading"/>
                </template>
            </vs-table>
        </div>

        <ModalAdd>
            <template v-slot="{ close }">
                <AddPackageTypes @close="close" @success="FetchData()"/>
            </template>
        </ModalAdd>

        <ModalEdit>
            <template v-slot="{ close }">
                <EditPackageTypes :listPackageTypes="packageType_Index" @close="close" @success="FetchData()"/>
            </template>
        </ModalEdit>

        <ModalDelete>
            <template v-slot="{ close }">
                <DeletePackageTypes @close="close" :packageTypeId="packageTypeId" @success="FetchData()"/>
            </template>
        </ModalDelete>

    </div>
</template>
<script>
import AddPackageTypes from './Dialog/Add';
import EditPackageTypes from './Dialog/Edit';
import DeletePackageTypes from './Dialog/Delete';
import Loading from '../../Loading';

export default {
    components:{
        AddPackageTypes,
        EditPackageTypes,
        DeletePackageTypes,
        Loading
    },

    data:()=>({
        active: 1,
        page: 1,
        max: 10,
        package_types: [],  
        packageType_Index: {},
        packageTypeId: '',
        isLoading: true,
    }),
    methods:{

        OpenModalAdd(){
            this.$store.commit('modalAdd_State', true);
        },
        ViewDetailPermissionRoles(typeId){
            this.$router.push({name: 'list.permission.roles', params: {id: typeId}}).catch(()=>{});
        },
        OpenModalEdit(index){
            this.packageType_Index = {...this.package_types[index]};
            this.$store.commit('modalEdit_State', true);
        },
        OpenModalDelete(typeId){
            this.packageTypeId = typeId;
            this.$store.commit('modalDelete_State', true);
        },
        FetchData(){
            this.isLoading = true;
            this.$axios.get('list-package-types').then(res=>{
                setTimeout(() => {
                    this.isLoading = false;
                    this.$emit('close');
                }, 200);
                setTimeout(()=>{
                    this.package_types = res.data.package_types;
                }, 100);
            }).catch(()=>{
                
            });
        },
    },
    created(){
        this.FetchData();
    }
}
</script>
<style lang="scss" scoped>
.container{
    margin-top: 40px;
    .title-login{
       font-size: 20px;
       color: $primary-color;
    }
}
</style>