.input{
    box-shadow: none !important;
}

.field{
    .input{
        font-family: $font;
        box-shadow: none;
    }
    input:not(:placeholder-shown){
        border: 1px solid $primary-color;
    }
}
