@import './color.scss';
@import './font.scss';
@import './screen.scss';
@import './type.scss';
@import './input.scss';
@import './table';


h3, p, span{
    font-family: $font;
}


// Css Control Button
.button{
    font-family: $font;
    border: none;
    background: $primary-color;
    color: $white;
    &:focus{
        border: none;
        box-shadow: none;
    }
}


// Group-Btn
.group-btn{
    .button{
        background: $primary-color;
        width: 100%;
        border-radius: 50px;
        border: none;
        box-shadow: none;
        margin-top: 15px;
    }
}


.box-title{
    text-align: left;
    h4{
        color: $primary-color;
        display: flex;
        i{
            width: 35px;
        }
        .btn-add{
            margin: 0 auto;
            margin-right: 0px;
        }
        .countTotal{
            color: $crimson;
            margin-left: 10px;
        }
    }
}
.label:not(:last-child) {
    margin-bottom: 0.1em;
}

.text-danger{
    font-weight: normal;
    color: $crimson;
}
.textarea{
    font-family: $font;
    &:focus{
        box-shadow: none;
    }
}
.select{
    width: 100%;
}
select{
    width: 100%;
    font-family: $font;
    &:focus{
        box-shadow: none !important;
    }
    &:hover{
        box-shadow: none !important;
    }
}


.box-btn{
    margin-top: 10px;
    button{
        width: 100%;
        margin-top: 20px;
        background: $primary-color;
        &:hover{
            color: $white;
            box-shadow: none;
            border: none;
        }
        &:focus{
            box-shadow: none;
            color: $white;
            border: none;
        }
    }
}

.form-btn-loading{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    margin-left: 1px;
    background: $primary-color;
    color: $white;
    font-size: 16px;
    &:hover{
        background: $primary-color;
        color: $white;
    }
}