// mobile: up to 768px
// tablet: from 769px
// desktop: from 1024px
// widescreen: from 1216px
// fullhd: from 1408px

$tablet-width: 768px;
$desktop-width: 1024px;
$widescreen: 1216px;

@mixin mobile {
@media (max-width: #{$tablet-width}) {
    @content;
}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$widescreen}) {
    @content;
  }
}

.container{
  @include desktop{
    width: 1200px;
  }
}