
.group-icon{
    // .icon-edit{
    //     border: 1px solid $primary-color;
    //     padding: 5px;
    //     border-radius: 5px;
    //     color: $primary-color;
    //     font-size: 16px;
    //     margin-right: 5px;
    //     &:hover{
    //         cursor: pointer;
    //         background: $primary-color;
    //         color: $white;
    //     }
    // }
    // .icon-delete{
    //     border: 1px solid $crimson;
    //     padding: 5px;
    //     border-radius: 5px;
    //     color: $crimson;
    //     font-size: 16px;
    //     &:hover{
    //         cursor: pointer;
    //         background: $crimson;
    //         color: $white;
    //     }
    // }
    display: flex;
}