<template>
            <div class="columns login-section">
                <div class="column is-primary">
                    <div class="login-future">
                    </div>
                </div>
                <div class="column is-4 login-component ">
                    <div class="logo-header">
                        <img src="../../assets/logistic.png">
                    </div>
                    <h1>ເຂົ້າສູ່ລະບົບ</h1>
                    <div class="lgoin-content">
                        <div class="field">
                            <div class="control">
                                <label>ອີເມວ</label>
                                <input class="input is-medium" placeholder="ກະລຸນາປ້ອນອີເມວ...">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label>ລະຫັດຜ່ານ</label>
                                <input type="password" class="input is-medium" placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານ...">
                            </div>
                        </div>
                    </div>
                    <div class="box-btn">
                        <button class="button is-red">
                            ເຂົ້າສູ່ລະບົບ
                        </button>
                    </div>
                </div>
            </div>
</template>
<style scoped>
h1 {
    font-weight: 600;
    line-height: 1.3em;
    font-size: 32px;
}
.login-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://hal-logistics.la/images/slider/bannernews.jpeg");
    background-color: #f5f7f9;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}

.logo-header img {
    width: 150px;
    height: 150px;
}
.login-future {
    height: 650px;
}
.login-component {
    padding: 48px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .125);
}
.button.is-red {
    color: #fff;
    background-color: #E13530;
    height: 54px;
    min-height: 54px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
}
.button {
    border: none;
    transition: all .125s ease-in;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .12);
}
label {
    display: block;
    margin-bottom: 4px;
    font-family: Prompt;
    font-size: 16px;
    font-weight: 800;
}
.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .12);
}


</style>
