<template>
    <div>
        <template>
            <h4 class="not-margin" :style="{ fontWeight: 'bold', color: '#195BFF', fontSize: '18px', textAlign: 'left' }">
                <i class="fal fa-info-circle" :style="{ width: '20px', fontSize: '18px' }"></i>
                ຂໍ້ມູນ ສາຂາສາງສີນຄ້າ
            </h4>
        </template>

        <div class="field" :style="{marginTop: '10px'}">
            <div class="control">
                <label class="label">
                    ສາຂາສາງສີນຄ້າ
                    <span class="text-danger">* {{ errors.first('name') }}</span>
                    <span class="text-danger">
                        {{server_errors.name}}
                    </span>
                </label>
                <input class="input" name="name" placeholder="ກະລຸນາປ້ອນສາຂາສາງກ່ອນ..." v-model="branches.name" v-validate="'required'">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">
                    ເບີໂທຕິດຕໍ່ 
                    <span class="text-danger">* {{ errors.first('tel') }}</span>
                    <span class="text-danger">
                        {{server_errors.tel}}
                    </span>
                </label>
                <input class="input" name="tel" placeholder="ກະລຸນາປ້ອນເບີໂທຕິດຕໍ່ກ່ອນ..." v-model="branches.tel" v-validate="'required'">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">
                    ອີເມວ 
                    <span class="text-danger">* {{ errors.first('email') }}</span>
                    <span class="text-danger">
                        {{server_errors.email}}
                    </span>
                </label>
                <input class="input" name="email" placeholder="ກະລຸນາປ້ອນອີເມວກ່ອນ..." v-model="branches.email" v-validate="'required'">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">
                    ເລືອກພາກ 
                    <span class="text-danger">* {{ errors.first('part') }}</span>
                </label>
                <div class="select">
                    <select v-model="selectedPart.id" name="part">
                        <option :value="part.id" v-for="(part, index) in parts" :key="index">
                            {{part.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <div class="field">
            <div class="control">
                <label class="label">
                    ເລືອກເເຂວງ 
                    <span class="text-danger">* {{ errors.first('province') }}</span>
                </label>
                <div class="select">
                    <select v-model="selectedProvince.id" name="province">
                        <option :value="province.id" v-for="(province, index) in provinces" :key="index">
                            {{province.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
         <div class="field">
            <div class="control">
                <label class="label">
                    ເລືອກເມືອງ 
                    <span class="text-danger">* {{ errors.first('district') }}</span>
                </label>
                <div class="select">
                    <select v-model="selectedDistrict.id" name="district">
                        <option :value="district.id" v-for="(district, index) in districts" :key="index">
                            {{district.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
         <div class="field">
            <div class="control">
                <label class="label">
                    ເລືອກບ້ານ
                    <span class="text-danger">* {{ errors.first('village') }}</span>
                    <span class="text-danger">
                        {{server_errors.villageId}}
                    </span>
                </label>
                <div class="select">
                    <select v-model="checkVillage" v-if="!villages.length" :style="{color: 'grey'}">
                        <option :value="checkVillage">
                            ບໍ່ມີຂໍ້ມູນບ້ານ...
                        </option>
                    </select>

                    <select v-model="selectedVillage.id" name="village" v-else>
                        <option :value="village.id" v-for="(village, index) in villages" :key="index">
                            {{village.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div> -->

        <div ref="target" id="target" class="center">
            <div class="con-btns">
                <vs-button ref="button" flat @click="ValidateForm()" class="form-btn-loading">ລົງທະບຽນ ສາຂາສາງ</vs-button>
            </div>
        </div>
    </div>
</template>
<script>
import { Validator } from 'vee-validate';
import MixinsAddManage from '../../../../Mixins/Branch/Add-Manage';



const dict = {
  custom: {
    name:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    tel:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    email:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    address:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    part:{
        required: '(ກະລຸນາເລືອກກ່ອນ...)',
    },
    province:{
        required: '(ກະລຸນາເລືອກກ່ອນ...)',
    },
    district:{
        required: '(ກະລຸນາເລືອກກ່ອນ...)',
    },
    village:{
        required: '(ກະລຸນາເລືອກກ່ອນ...)',
    }
  }
};
Validator.localize('en', dict);


export default {

    mixins: [MixinsAddManage],

    created(){
        //this.FetchData();
    }
}
</script>
<style lang="scss" scoped>
    
</style>