<template>
    <div>
        <template>
            <h4 class="not-margin" :style="{ fontWeight: 'bold', color: '#195BFF', fontSize: '18px', textAlign: 'left' }">
                <i class="fal fa-info-circle" :style="{ width: '20px', fontSize: '18px' }"></i>
                ຂໍ້ມູນ ສາຂາສາງສີນຄ້າ 
            </h4>
        </template>

        <div class="field" :style="{marginTop: '10px'}">
            <div class="control">
                <label class="label">
                    ສາຂາສາງສີນຄ້າ
                    <span class="text-danger">* {{ errors.first('name') }}</span>
                    <span class="text-danger">
                        {{server_errors.name}}
                    </span>
                </label>
                <input class="input" name="name" placeholder="ກະລຸນາປ້ອນສາຂາສາງກ່ອນ..." v-model="listBranch.branch_name" v-validate="'required'">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">
                    ເບີໂທຕິດຕໍ່ 
                    <span class="text-danger">* {{ errors.first('tel') }}</span>
                    <span class="text-danger">
                        {{server_errors.tel}}
                    </span>
                </label>
                <input class="input" name="tel" placeholder="ກະລຸນາປ້ອນເບີໂທຕິດຕໍ່ກ່ອນ..." v-model="listBranch.branch_tel" v-validate="'required'">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">
                    ອີເມວ 
                    <span class="text-danger">* {{ errors.first('email') }}</span>
                    <span class="text-danger">
                        {{server_errors.email}}
                    </span>
                </label>
                <input class="input" name="email" placeholder="ກະລຸນາປ້ອນອີເມວກ່ອນ..." v-model="listBranch.branch_email" v-validate="'required'">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">
                    ສະຖານທີ່
                    <span class="text-danger">* {{ errors.first('address') }}</span>
                    <span class="text-danger">
                        {{server_errors.address}}
                    </span>
                </label>
                <textarea 
                    class="textarea has-fixed-size" rows="2" 
                    placeholder="ກະລຸນາປ້ອນສະຖານທີ່ກ່ອນ..." name="address" 
                    v-model="listBranch.branch_address" v-validate="'required'">
                </textarea>
            </div>
        </div>
        <div ref="target" id="target" class="center">
            <div class="con-btns">
                <vs-button ref="button" flat @click="ValidateForm()" class="form-btn-loading">ເເກ້ໄຂ ສາຂາສາງ</vs-button>
            </div>
        </div>
    </div>
</template>
<script>
import { Validator } from 'vee-validate';

const dict = {
  custom: {
    name:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    tel:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    email:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    },
    address:{
        required: '(ກະລຸນາປ້ອນກ່ອນ...)',
    }
  }
};
Validator.localize('en', dict);


export default {
    props:[
        'listBranch',
        
    ],

    data:()=>({
        active: false,
        isLoading: false,
        server_errors: {
            name: '',
            tel: '',
            email: '',
            address: '',
        }
    }),
     methods:{
        ValidateForm(){
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.EditItem();
                }
            });
        },
        EditItem(){
            const loading = this.BtnLoading();
            this.$axios.put('edit-branches', this.listBranch).then(res=>{
                if(res.data.success == true){
                    setTimeout(() => {
                        loading.close();
                        this.$emit('close');
                        this.$emit('success');
                        this.$notification.OpenNotification_EditItem_OnSuccess('top-right', 'dark', 3000);
                    }, 300);
                }
            }).catch(error=>{
                loading.close();
                if(error.response.status == 422){
                    var obj = error.response.data.errors;       // ໃຊ້ການລູບຂໍ້ມູນເພາະວ່າຂໍ້ມູນ errors ທີ່ສົ່ງມາຈາກ Server ນັ້ນເປັນ Array Object
                    for (let [key, value] of Object.entries(obj)) {
                        this.server_errors[key] = value[0];
                    }
                }
            });
        },
        BtnLoading(){
            return this.$vs.loading({
                target: this.$refs.button,
                scale: '0.6',
                background: 'primary',
                opacity: 1,
                color: '#fff'
            });
        }
    }
}
</script>
<style lang="scss" scoped>
    
</style>