@font-face {
  font-family: BoonBaan;
  src:url(../fonts/BoonBaan-Regular.otf) format("truetype");
  font-weight: 400;
  font-style: normal; }
.boonbaan-400 {
  font-family: BoonBaan;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: BoonBaan;
  src: url(../fonts/BoonBaan-Bold.otf) format("truetype");
  font-weight: 700;
  font-style: normal; }
.boonbaan-700 {
  font-family: BoonBaan;
  font-weight: 700;
  font-style: normal; }

  @font-face {
    font-family: 'Open Sans';
    src:url(../fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal; }


