<template>
    <div class="container">
        <div class="box-title">
            <h4>
                <i class="fal fa-users"></i>
                ຂໍ້ມູນ ຜູ້ໃຊ້ລະບົບສາງສີນຄ້າ
                <span class="countTotal">({{listBranchUsers.length}})</span>
                <span class="btn-add">
                    <vs-button
                        circle
                        icon
                        flat
                        @click="OpenModalAdd()"
                    >
                    <i class="fal fa-plus-circle"></i>
                    </vs-button>
                </span>
            </h4>
        </div>
        <div class="center">
            <vs-table>
                <template #thead>
                <vs-tr>
                    <vs-th>
                        ລຳດັບ
                    </vs-th>
                    <vs-th>
                        ຊື່ຜູ້ໃຊ້ລະບົບ
                    </vs-th>
                    <vs-th>
                        ອີເມວ
                    </vs-th>
                    <vs-th>
                        ບົດບາດຂອງຜູ້ໃຊ້ລະບົບ
                    </vs-th>
                    <vs-th>
                        ໜ້າທີ່ຂອງບົດບາດ
                    </vs-th>
                    <vs-th></vs-th>
                </vs-tr>
                </template>
                <template #tbody>
                <vs-tr
                    :key="index"
                    v-for="(branchUers, index) in $vs.getPage(listBranchUsers, page, max)"
                    :data="branchUers"
                >
                    <vs-td>
                        {{ index + 1 }}
                    </vs-td>
                    <vs-td>
                        {{ branchUers.userName }}
                    </vs-td>
                    <vs-td>
                        {{ branchUers.userEmail }}
                    </vs-td>
                    <vs-td :style="{color: '#195BFF'}" v-if="branchUers.roleUser.length">
                        ( {{JoinRoleUsers(branchUers.roleUser)}} )
                    </vs-td>
                    <vs-td :style="{color: '#195BFF'}" v-else>
                        (........................)
                    </vs-td>
                    <vs-td :style="{color: '#195BFF'}" v-if="branchUers.permissionRole.length">
                        ( {{JoinPermissionUsers(branchUers.permissionRole)}} )
                    </vs-td>
                    <vs-td :style="{color: '#195BFF'}" v-else>
                        (........................)
                    </vs-td>
                    <vs-td style="text-align: right; width: 100px">
                        <div class="group-icon">
                            <vs-button
                                circle
                                icon
                                flat
                                @click="OpenModalEdit(branchUers.branchUserId)"
                            >
                            <i class="fad fa-pencil-alt"></i>
                            </vs-button>
                            <vs-button
                                circle
                                danger
                                icon
                                flat
                                @click="OpenModalDelete(branchUers.branchUserId)"
                            >
                            <i class="fad fa-trash-alt"></i>
                            </vs-button>
                        </div>
                    </vs-td>
                </vs-tr>
                </template>
                <template #footer>
                    <vs-pagination v-model="page" :length="$vs.getLength(listBranchUsers, max)"/>
                    <Loading v-if="isLoading"/>
                </template>
            </vs-table>
        </div>

        <ModalAdd>
            <template v-slot="{ close }">
                <AddBranchUsers @close="close" @success="FetchData()" :roleUsers="roleUsers"/>
            </template>
        </ModalAdd>
        
        <ModalEdit>
            <template v-slot="{ close }">
                <EditBranchUsers :listBranchUser="branchUser" :roleUsers="roleUsers" @close="close" @success="FetchData()"/>
            </template>
        </ModalEdit>

        <ModalDelete>
            <template v-slot="{ close }">
                <DeleteBranchUsers @close="close" :branchUserId="branchUserId" @success="FetchData()"/>
            </template>
        </ModalDelete>

    </div>
</template>
<script>
import AddBranchUsers from './Dialog/Add';
import EditBranchUsers from './Dialog/Edit';
import DeleteBranchUsers from './Dialog/Delete';
import Loading from '../../../Loading';

export default {
    components:{
        AddBranchUsers,
        EditBranchUsers,
        DeleteBranchUsers,
        Loading
    },

    data:()=>({
        page: 1,
        max: 10,
        isLoading: true,

        roleUsers: [],
        listBranchUsers: [],
        branchUser: {},
        branchUserId: '',
    }),
    methods:{
        OpenModalAdd(){
            this.$store.commit('modalAdd_State', true);
        },
        OpenModalEdit(branchUserId){
            this.branchUser = {...this.filterItem(branchUserId)};
            this.$store.commit('modalEdit_State', true);
        },
        filterItem(branchUserId){
            return this.listBranchUsers.filter(item=>{
                return item.branchUserId == branchUserId;
            })[0] || {};
        },
        OpenModalDelete(branchUserId){
            this.branchUserId = branchUserId;
            this.$store.commit('modalDelete_State', true);
        },
        FetchData(){
            this.isLoading = true;
            this.$axios.get('list-branch-users/' + this.$route.params.id).then(res=>{
                setTimeout(() => {
                    this.isLoading = false;
                    this.$emit('close');
                }, 200);
                setTimeout(()=>{
                    this.listBranchUsers = res.data.listBranchUsers;
                }, 100);
            }).catch(()=>{});

            this.$axios.get('list-roles').then(res=>{
                this.roleUsers = res.data.roles;
            });
        },
        JoinRoleUsers(roleUser){
            return roleUser.map(item=>item.roleName).join(', ');
            //return this.listBranchUsers[0].roleUser.map(i=>i.roleName).join(',');
        },
        JoinPermissionUsers(perRoles){
            return perRoles.map(item=>item.permissionName).join(', ');
        }
    },
    created(){
        this.FetchData();
    }
}
</script>
<style lang="scss">
.container{
    margin-top: 40px;
    .title-login{
       font-size: 20px;
       color: $primary-color;
    }
}
</style>