<template>
  <div class="about">
    <h1><br>
      <button class="button" @click="PushNotification()">Add Notification</button>
    </h1>
    <div v-if="$can(['super_admin', 'user'], true)">
      This is for SuperAdmin && User
    </div>
    <div v-if="$can(['super_admins', 'user'])">
      This is for SuperAdmin Or Users
    </div>
    <div v-if="$can('super_admin')">
      This is for SuperAdmin
    </div>
  </div>
</template>
<script>
// import {mapActions} from 'vuex';

export default {
  data:()=>({
    notification: 2,
  }),
  methods:{
    // ...mapActions({
    //         Notification: 'Notification/AddNotification'
    // }),

    // PushNotification(){
    //   this.Notification();
    // }
  },
  created(){
    //console.log(this.$can(['super_admissdn', 'user']));
 
  }
}
</script>