<template>
   <div class="center examplex">
      <vs-navbar center-collapsed v-model="active">
        <template #right>
          <vs-button @click="LogoutUsers()">ອອກຈາກລະບົບ</vs-button>
        </template>
      </vs-navbar>
    </div>
</template>
<script>
import {mapActions} from 'vuex';

export default {
  data:()=>({
      active: 'guide'
  }),
  methods:{
  ...mapActions({
    LogoutUser: 'User/destroyToken'
  }),

  LogoutUsers(){
    const loading = this.$vs.loading();
    this.LogoutUser().then(res=>{
      if(res.data.success == true){
        setTimeout(() => {
          this.$notification.OpenNotification_Logout_Success('top-right', 'danger', 3000);
          loading.close();
        }, 500);
      }
    }).catch(()=>{});
  }

  }
}
</script>
<style lang="scss">

</style>