<template>
  <div class="hidden">
    <vs-sidebar
      absolute
      v-model="active"
      open
      >
      <template #logo>
          <img src="../assets/logistic.png">
          <h4 :style="{ marginLeft: '10px', fontSize: '18px', fontWeight: 'bold' }">
            ຮຸ່ງອາລຸນ ຂົນສົ່ງດວ່ນ
          </h4>
      </template>
      
      <vs-sidebar-group>
        <template #header>
          <vs-sidebar-item arrow>
            <template #icon>
              <i class='fal fa-tasks'></i>
            </template>
            ຈັດການຂໍ້ມູນຫຼັກ
          </vs-sidebar-item>
        </template>
        
        <div @click="RoleUsers()">
          <vs-sidebar-item id="roles">
              <template #icon>
                <i class='fal fa-user-tag'></i>
              </template>
              ຂໍ້ມູນ Roles
          </vs-sidebar-item>
        </div>
        
        <div @click="PermissionUsers()">
          <vs-sidebar-item id="permissions">
            <template #icon>
              <i class='fal fa-users-class' ></i>
            </template>
            ຂໍ້ມູນ Permissions
          </vs-sidebar-item>
        </div>

        <div @click="PackageTypes()">
          <vs-sidebar-item id="package-type">
            <template #icon>
              <i class='fal fa-users-class' ></i>
            </template>
            ຂໍ້ມູນ ປະເພດເເພ໋ກເເກ໋ດ
          </vs-sidebar-item>
        </div>

        <div @click="Packages()">
          <vs-sidebar-item id="packages">
            <template #icon>
              <i class='fal fa-users-class' ></i>
            </template>
            ຂໍ້ມູນ ເເພ໋ກເເກ໋ດ
          </vs-sidebar-item>
        </div>

      </vs-sidebar-group>

      <vs-sidebar-group>
        <template #header>
          <vs-sidebar-item arrow>
            <template #icon>
              <i class='fal fa-registered' ></i>
            </template>
            ລົງທະບຽນ
          </vs-sidebar-item>
        </template>

        <div @click="Branches()">
          <vs-sidebar-item id="github">
            <template #icon>
              <i class='fal fa-users' ></i>
            </template>
            ຂໍ້ມູນ ສາຂາສາງສີນຄ້າ
          </vs-sidebar-item>
        </div>

        <vs-sidebar-item id="codepen">
          <template #icon>
            <i class='fal fa-users'></i>
          </template>
          ຂໍ້ມູນ ສາຂາສາງຄັດເເຍກສີນຄ້າ
        </vs-sidebar-item>
        <vs-sidebar-item id="discord">
          <template #icon>
            <i class='fal fa-truck-container'></i>
          </template>
          ຂໍ້ມູນ ສາຂາ Delivery
        </vs-sidebar-item>
      </vs-sidebar-group>

    </vs-sidebar>
  </div>
</template>
<script>
export default {
    data:()=>({
        active: '',
    }),
    methods:{
      RoleUsers(){
        this.$router.push({name: 'list.role.users'}).catch(()=>{});
      },
      PermissionUsers(){
        this.$router.push({name: 'list.permission.users'}).catch(()=>{});
      },
      Packages(){
        this.$router.push({name: 'list.packages'}).catch(()=>{});
      },
      PackageTypes(){
        this.$router.push({name: 'list.package.types'}).catch(()=>{});
      },
      Branches(){
        this.$router.push({name: 'list.branches'}).catch(()=>{});
      }
    }
}
</script>