<template>
    <div class="container">
        <div class="box-title">
            <h4>
                <i class="fal fa-users"></i>
                  ຂໍ້ມູນ ສາຂາສາງສີນຄ້າ
                <span class="countTotal">({{branches.length}})</span>
                <span class="btn-add">
                    <vs-button circle icon flat @click="OpenModalAdd()">
                        <i class="fal fa-plus-circle"></i>
                    </vs-button>
                </span>
            </h4>
        </div>
        <div class="center">
            <vs-table>
                <template #thead>
                <vs-tr>
                    <vs-th>ລຳດັບ</vs-th>
                    <vs-th>ສາຂາສາງສີນຄ້າ</vs-th>
                    <vs-th>ເບີໂທຕິດຕໍ່</vs-th>
                    <vs-th>ອີເມວ</vs-th>
                    <vs-th>ສະຖານທີ່</vs-th>
                    <vs-th></vs-th>
                </vs-tr>
                </template>
                <template #tbody>
                <vs-tr
                    :key="index" :data="branch"
                    v-for="(branch, index) in $vs.getPage(branches, page, max)"
                >
                    <vs-td>{{ index + 1 }}</vs-td>
                    <vs-td>{{ branch.branch_name }}</vs-td>
                    <vs-td>{{ branch.branch_tel }}</vs-td>
                    <vs-td>{{ branch.branch_email }}</vs-td>
                    <vs-td style="width: 400px;">{{ branch.branch_address }}</vs-td>
                    <vs-td style="text-align: right; width: 100px">
                        <div class="group-icon">
                            <vs-button circle icon flat @click="ViewBranchUsers(branch.id)">
                                <i class="fal fa-plus-circle"></i>
                            </vs-button>
                            <vs-button circle icon flat @click="OpenModalEdit(branch.id)">
                                <i class="fad fa-pencil-alt"></i>
                            </vs-button>
                            <vs-button circle danger icon flat @click="OpenModalDelete(branch.id)">
                                <i class="fad fa-trash-alt"></i>
                            </vs-button>
                        </div>
                    </vs-td>
                </vs-tr>
                </template>
                <template #footer>
                    <vs-pagination v-model="page" :length="$vs.getLength(branches, max)"/>
                    <Loading v-if="isLoading"/>
                </template>
            </vs-table>
        </div>

        <ModalAdd>
            <template v-slot="{ close }">
                <AddBranches 
                    @close="close" 
                    @success="FetchData()"
                />
            </template>
        </ModalAdd>
        
        <ModalEdit>
            <template v-slot="{ close }">
                <EditBranches :listBranch="listBranch" @close="close" @success="FetchData()"/>
            </template>
        </ModalEdit>

        <ModalDelete>
            <template v-slot="{ close }">
                <DeleteBranches @close="close" :branchId="branchId" @success="FetchData()"/>
            </template>
        </ModalDelete>

    </div>
</template>
<script>
import AddBranches from './Dialog/Add';
import EditBranches from './Dialog/Edit';
import DeleteBranches from './Dialog/Delete';
import Loading from '../../Loading';

export default {
    components:{
        AddBranches,
        EditBranches,
        DeleteBranches,
        Loading
    },

    data:()=>({
        page: 1,
        max: 10,
        isLoading: true,

        branches: [],  
        listBranch: {},
        branchId: '',
    }),
    methods:{
        ViewBranchUsers(branchId){
            this.$router.push({name: 'list.branch.users', params:{id: branchId}});
        },
        OpenModalAdd(){
            this.$store.commit('modalAdd_State', true);
        },
        OpenModalEdit(branchId){
            this.listBranch = {...this.filterItem(branchId)};
            this.$store.commit('modalEdit_State', true);
        },
        filterItem(branchId){
            return this.branches.filter(item=>{
                return item.id == branchId;
            })[0] || {};
        },
        OpenModalDelete(branchId){
            this.branchId = branchId;
            this.$store.commit('modalDelete_State', true);
        },
        FetchData(){
            this.isLoading = true;
            this.$axios.get('list-branches').then(res=>{
                setTimeout(() => {
                    this.isLoading = false;
                    this.$emit('close');
                }, 200);
                setTimeout(()=>{
                    this.branches = res.data.branches;
                }, 100);
            }).catch(()=>{});
        },
    },
    created(){
        this.FetchData();
    }
}
</script>
<style lang="scss">
.container{
    margin-top: 40px;
    .title-login{
       font-size: 20px;
       color: $primary-color;
    }
}
</style>